@page "/master"
@inherits UiBase
@rendermode InteractiveServer

<div class="card-ui p-4">
    <UiTabs>
        <UiTab Title="@AppResources.Company" Icon="bi bi-building">
            <Companies />
        </UiTab>
        <UiTab Title="@AppResources.Position" Icon="bi bi-person-badge">
            <Positions />
        </UiTab>
        <UiTab Title="@AppResources.ContractType" Icon="bi bi-file-earmark-text">
            <ContractTypes />
        </UiTab>
        <UiTab Title="@AppResources.Holiday" Icon="bi bi-calendar-heart">
            <Holidays />
        </UiTab>
         <UiTab Title="@AppResources.LeaveType" Icon="bi bi-airplane">
            <LeaveTypes />
        </UiTab>
    </UiTabs>
</div>
